* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}

body {
    margin: 0;
    background-color: #663399;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    /* creando 4 columnas y se repiten hacia abajo con un tamaño de 75px */
    grid-template-columns: repeat(4, 75px);
    /* aumentado el tamaño por fila y numero de filas */
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #8b0000;
    padding: 15px;
    border-radius: 33px;
    /* agregando un sombreado */
    box-shadow: 15px 10px 0px 5px #00000033;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 33px;
    font-size: 1.5em;
    /* sacando el borde de los botones que viene por defecto */
    border: none;
    background-color: #8b0000;
    /* sombreando los botones */
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #770404;
}


/* cambiando de color al boton al dar click */

button:active {
    background-color: #5f0303;
}


/* sacando las lineas outlines  */

button:focus {
    outline: none;
}


/* modificando la pantalla de la calculadora y dando el ancho total */

.display {
    grid-column: 1/-1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    /* poniendo los dos divs uno encima del otro */
    flex-direction: column;
    /* poniendo los valores a la derecha final del flex */
    align-items: flex-end;
    background-color: #363636;
    border-radius: 33px;
    text-align: right;
    /* para que se separen los valores */
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}


/* arreglando los botones que deben medir 2 columnas */

.col-2 {
    /* se expande a 2 columnas */
    grid-column: span 2;
}

#valor-actual {
    font-size: 1.5em;
}

#valor-anterior {
    font-size: 2em;
}